{% extends 'layout.html' %}
{% block title %} 
    Comentarios
{% endblock %}
{% load humanize %}
{% block content %}
<link rel="stylesheet" href="../static/styleee.css">
<link rel="stylesheet" href="../static/normalize.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container">
{% for post in posts %}
<article>
    <div class="container-article">
        <img src="../static/img/user.png">
        <div>
            <h2 class="username">@{{ post.user.username }}</a></h2>
            <i class="clock"></i>
            <time data-time="#">{{ post.timestamp|naturaltime }}</time>
            <div class="post">{{ post.content }}</div>
        </div>
    </div>
</article>

{% endfor %}
</div>
{% endblock %}